html, body{
	height: 100%;
	width: 100%;
}
header
{
	background-color: SlateGray;
	height: 45px;
}

header .page-title
{
	color: white;
	font-weight: bold;
	line-height: 45px;
	margin-left: 20px;
}

.btn-maximize
{
	background: salmon url('../img/ic_expand.png') no-repeat;
}

.btn-visible
{
	background: salmon url('../img/ic_eye.png') no-repeat;
}

.btn-sound
{
	background: salmon url('../img/ic_sound.png') no-repeat;
}

.btn-pencil
{
	background: salmon url('../img/ic_pencil.png') no-repeat;
}

.btn-megahorn
{
	background: salmon url('../img/ic_megahorn.png') no-repeat;
}
.btn-toggle
{
	margin-right: 5px;
	margin-top: 5px;
	height: 20px;
	width: 20px;
	background-size: 100% auto;
	border: 0px;
	outline: none;
}

.btn-toggle.btn-toggle-off
{
	-webkit-filter: opacity(50%); filter: opacity(50%);
}

.grayscale {-webkit-filter: grayscale(100%); filter: grayscale(100%);}

.wrap{
	height: 100%;
	margin-top: -45px;
	padding-top: 45px;
}
.column
{
	height: 100%;
	float: left;
}
.right-column
{
	
	margin: 3px 3px 3px -3px;
	position: relative;
	height: 98%;	
}

.right-column .wrap-btn-chat-toggle
{
	position: absolute;
	width: 30px;
	height: 30px;
	top: 0px;
	left: 250px;
}

#btn-chat-toggle
{
	height: 100%;
	width:100%;
	background-color: salmon;
	
}
.right-column .wrap-area-chat
{
	position:absolute;
	width: 250px;	
	height: 100%;
}

.right-column .wrap-area-chat #area-chat-title
{
	height: 35px;
	width: 100%;
	background-color: skyblue;
	text-align: center;
	color: white;
	text-weight: bold;
	line-height: 35px;
}

.right-column .wrap-area-chat #area-chat-history
{
	border: 2px solid skyblue;
	height: 100%;
	margin-top: -35px;
	padding-top: 35px;
	padding-bottom: 100px;
}
.right-column .wrap-area-chat #chat-content
{
	position:absolute;
	bottom: 0px;
	width: 100%;
	height: 100px;
}
#work-video
{
	margin: 3px;
	height: 98%;
	width: 960px;	
	background-color: grey;
}

#btn-toggle-video
{
	height: 98%;
	width: 30px;
	margin: 3px;	
}

.video-container
{
	width: 300px;
	text-align: center;
	border-radius: 2px;
	border: 1px solid #DDDDDD;
	margin: 3px;
}

.video-container .title
{
	height: 30px;
	line-height: 30px;
	color: gray;
	font-weight: bold;
	background-color: #EEEEEE;
	border-bottom: 1px solid #DDDDDD;
	
}

.video-container .videos
{
	min-height: 120px;
	padding: 15px 0px 10px 0px;
}

.component-area
{
	position: relative;	
}

.component-area.component-local
{
	margin: 0 auto;
	height: 120px;
	width: 160px;
}

.component-area.component-local .video-component
{
	position: absolute;
	top: 0px;
	left: 0px;
	cursor: pointer;
}

.component-area.component-local .toolkit-component
{
	display: none;
	height: 30px;
	width: 160px;
	background-color: Salmon;
	border-radius: 5px;
	position: absolute;
	top: 130px;
	left: 0px;
	cursor: pointer;
}

.component-area.component-remote
{
	height: 120px;
	width: 45%;
	margin: 2%;
	border: 1px solid #DDDDDD;	
	border-radius: 3px;
	display: inline-block;
}

.component-area.component-remote .name-component
{
	margin-top: 6px;
}

.component-area.component-remote .video-component
{
	position: absolute;
	top: 35px;
	left: 50%;
	margin-left: -50px; 
	cursor: pointer;
}

.component-area.component-remote .toolkit-component
{
	display: none;
	height: 30px;
	width: 160px;
	background-color: Salmon;
	border-radius: 5px;
	position: absolute;
	top: 130px;
	left: 0px;
	cursor: pointer;
}

#template-remote
{
	display: none;
}

#template-local
{
	display: none;
}
