<!DOCTYPE html>
<html>
<head>
	#include("layout.vm")
	<script>
	function loginDeveloper()
	{
		event.preventDefault();
		System.execute(
				System.DEVELOPER, 
				System.LOGIN,
				System.serializeArrayToDic($("#form-loginDeveloper").serializeArray()),
				function (data) {
					
				},
		        function(request, status, error) {
			          console.log(error)
			    }
		)
	}
	
	function createDeveloper()
	{
		//event.preventDefault();
		System.execute(
				System.DEVELOPER, 
				System.CREATE,
				System.serializeArrayToDic($("#form-createDeveloper").serializeArray()),
				function (data) {
					$(".form-toggle").click()
					showSnackbar("Register Success!")
				},
		        function(request, status, error) {
			          console.log(error)
			    }
		)
	}

	$(document).ready(function() {
	  var panelOne = $('.form-panel.two').height(),
	    panelTwo = $('.form-panel.two')[0].scrollHeight;
	
	  $('.form-panel.two').not('.form-panel.two.active').on('click', function(e) {
	    e.preventDefault();
	
	    $('.form-toggle').addClass('visible');
	    $('.form-panel.one').addClass('hidden');
	    $('.form-panel.two').addClass('active');
	    $('.form').animate({
	      'height': panelTwo
	    }, 200);
  });

  $('.form-toggle').on('click', function(e) {
    e.preventDefault();
    $(this).removeClass('visible');
    $('.form-panel.one').removeClass('hidden');
    $('.form-panel.two').removeClass('active');
    $('.form').animate({
      'height': panelOne
    }, 200);
  });
});
	</script>
	<meta charset="UTF-8">
	<title>로그인</title>
</head>
<body>


<!-- Form-->

<div class="form">
  <div class="form-toggle"></div>
  <div class="form-panel one">
    <div class="form-header">
      <h1>Account Login</h1>
    </div>
    <div class="form-content">
      <form id="form-loginDeveloper" action="/developer/login" method="post">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" required="required"/>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required="required"/>
        </div>
        <div class="form-group">
          <label class="form-remember">
            <input type="checkbox"/>Remember Me
          </label><a href="#" class="form-recovery">Forgot Password?</a>
        </div>
        <div class="form-group">
          <button type="submit">Log In</button>
        </div>
      </form>
    </div>
  </div>
  <div class="form-panel two">
    <div class="form-header">
      <h1>Register Account</h1>
    </div>
	
    <div class="form-content">
      <form id="form-createDeveloper" action="/developer/create" method="post">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" name="id" required="required"/>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="pw" required="required"/>
        </div>
        <div class="form-group">
          <label for="cpassword">Confirm Password</label>
          <input type="password" id="cpassword" name="cpassword" required="required"/>
        </div>
        <div class="form-group">
          <label for="email">Email Address</label>
          <input type="email" id="email" name="email" required="required"/>
        </div>
        <div class="form-group">
          <button type="submit" onclick='createDeveloper()'>Register</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="snackbar">Some text some message..</div>
</body>
</html>